.table-container {
  height: 320px;
  border: 1px solid;
  overflow-y: scroll;
}

.table-container tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.table-container > table > thead {
  background-color: black;
  position: absolute;
  /* width: calc(100% - 20px); */
}

tr th:last-child {
  background-color: dodgerblue;
  padding-right: 20px;
}

td {
  border: 1px solid;
}

.spacer {
  height: 20px;
}
